.title {
  width: 100%;
  background-color: #42b983;
  height: 80px;
  text-align: center;
  padding-top: 20px;
}

.filters {
  margin: 2em;
}

.nameProject {
  background-color: #42b983;
  text-align: center;
}

.test {
  display: inline-block;
}

.historic {
  word-wrap: break-word;
}

.checkboxUser {
  margin-right: 0.5em;
  margin-left: 0.2em;
}

.divValider {
  text-align: center;
  margin-top: 1em;
}

/* Medium device */ 
@media (min-width: 768px) and (max-width: 991.98px)  {
  .chooseUser, .chooseProject, .choosePeriod .date, .divValider {
    text-align: center;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 768px) {
  .chooseUser, .chooseProject, .choosePeriod .date, .divValider {
    margin-bottom: 1em;
    text-align: center;
  }

  .title {
    height: 100px;
  }
  
  .historic {
    text-overflow: ellipsis;
  }
}