<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="./css/style.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <div id="app">
      <div class="title">
        <h3>Application Github Ynov</h3>
      </div>
      
      <!-- Fichier json -->
      <div class="container filters">
        <div class="row">
          <!-- <div class="chooseUser col-sm-12 col-md-6 col-lg-3">
            <select v-model="selectedUser">
              <option selected value="">Choisir un compte</option>
              <option v-for="user in users" v-bind:value="user">{{ user }}</option>
            </select>
          </div> -->
          <div class="chooseUser col-sm-12 col-md-6 col-lg-3">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
              <span>Choisir les comptes</span>
            </button>
            <ul class="dropdown-menu">
              <li v-for="user in users">
                <input type="checkbox" class="checkboxUser" v-bind:id="user" v-bind:value="user" v-model="checkedUsers">
                <label for="user">{{ user }}</label>
              </li>
            </ul>
          </div>
          <div class="chooseProject col-sm-12 col-md-6 col-lg-3">
            <select v-model="selectedProject">
              <option selected value="">Choisir un projet</option>
              <option v-for="project in projects" v-bind:value="project">{{ project }}</option>
            </select>
          </div>
          <div class="choosePeriod col-sm-12 col-md-12 col-lg-6">
            <div class="row">
              <div class="date col-md-6">
                <span>Début</span>
                <input type="date" v-model="dateSince">
              </div>
              <div class="date col-sm-12 col-md-6">
                <span>Fin</span>
                <input type="date" v-model="dateUntil">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="divValider col-sm-12 col-md-12 col-12">
            <button id="buttonValidate" v-on:click="getProject()">Valider</button>
          </div>
        </div>
      </div>
      <div class="container table-commits" v-if="isDisplay">
        <div class="row nameProject col-12">{{ selectedProject }}</div>
        <div class="row border" v-for="commit in commits">
          <div class="author col-sm-3 col-3 border-right">{{commit.author}}</div>
          <div class="message col-sm-6 col-6 border-right">{{commit.message}}</div>
          <div class="historic col-sm-3 col-3">{{commit.date}}</div>
        </div>
      </div>
      <div v-else></div>
    </div>
    <script type="text/javascript" src="config.json"></script>
    <script type="text/javascript" src="script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>